@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
        box-sizing: border-box;
}

body {
        margin: 0;
        font-family: 'Raleway', sans-serif;
        text-align: center;
}

img {
        max-width: 100%;
        height: auto;
}

.container {
        width: 95%;
        max-width: 70em;
        margin: 0 auto;
}

.clearfix::after {
        content: '';
        height: 0;
        display: block;
        visibility: hidden;
        clear: both;
}

/* Column system */

[class^=col-] {
        width: 100%;
        margin-top: 1em;
}

[class^=col-]:first-of-type {
        margin-top: 0;
        text-align: justify;
}

.col-1 {
        width: 33.3333333%;
        float: left;
}

.col-1 li:first-of-type {
        margin-bottom: .2em;
}

@media (min-width: 40rem) {

        [class^=col-] {
                float: left;
                padding: 0 .5em;
                margin-top: 0;
        }

        [class^=col-]:first-of-type {
                padding-left: 0;
        }

        [class^=col-]:last-of-type {
                padding-right: 0;
        }

        .col-3 {
                width: 50%;

        }

        .col-1 {
                width: 16.666666%;
        }
}

/* typography */

h1 {
       font-weight: 300;
       font-size: 1.7rem;
       margin-top: 0;
}

p {
       margin-top: 0;
       line-height: 1.5em;
}

p:last-of-type {
       margin-bottom: 0;
}

.title {
       font-size: 2.5rem;
       margin-bottom: 1.5em;
       font-weight: 900;
       margin-top: 1em;
}

.title span {
        display: block;
       font-size: .9em;
       font-weight: 300;
}

.title-cta {
       margin: 0 0 .5em;
}

.unstyled-list {
       margin: 0;
       padding: 0;
       list-style-type: none;
}

/* buttons */

.button {
        display: inline-block;
        font-size: 1.15rem;
        text-decoration: none;
        text-transform: uppercase;
        border-width: 2px;
        border-style: solid;
        border-radius: .3em;
        padding: .5em 1.75em;
        transition: all .3s;
}

@media (min-width:60rem) {
        .button {
                font-size: 1.5rem;
        }
}

.button-small {
        font-size: .7rem;
        font-weight: 700;
}

.button-accent {
        color: #00ff6c;
        border-color: #00ff6c;
}

.button-accent:hover, .button-accent:focus {
        background: #00ff6c;
        color: #232323;
}

.button-dark {
        color: #232323;
        border-color: #232323;
}

.button-dark:hover, .button-dark:focus {
        background: #232323;
        color: #00ff6c;
}



@media (min-width:60rem) {

        P {
                font-size: 1.2rem;
                line-height: 1.6em;
        }

        .title {
                font-size: 3.7rem;
        }
}

/* header */

header {
        position: absolute;
        margin: 1em;
        left:0;
        right: 0;
}

nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

nav li {
        display: inline-block;
        margin: 1em;
}

nav a {
        text-decoration: none;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: .5em;
        color: #fff;
        transition: all .3s;
}

nav a:hover, nav a:focus {
        color: #ddd;
}

@media (min-width:60rem) {
        .logo {
                float: left;
        }

        nav {
                float: right;
        }
}

/* hero area */

.home-hero {
        background-image: url("../img/hero.jpg");
        background-size: cover;
        background-position: center;
        padding: 10em 0;
        color: #fff;
}

@media (min-width:60rem) {
        .home-hero {
                height: 100vh;
                padding-top: 25vh;
        }
}

/* home-about */

.home-about-textbox {
        position: relative;
        background-color: #232323;
        padding: 4em;
        width: 100vw;
        margin-left: -2.5%;
        outline: 2px solid #00ff6c;
        outline-offset: -2.5em;
        color: #fff;
}

.home-about-textbox h1 {
        position: absolute;
        top: .75em;
        left:50%;
        transform: translateX(-50%);
        background: #232323;
        padding: 0 .125em;
        color: #00ff6c;
}

@media (min-width: 25rem) {
        h1 {
                font-size: 2rem;
        }

        .home-about-textbox h1 {
                top: .6em;
        }
}

@media (min-width: 60rem) {
        h1 {
                font-size: 2.5rem;
        }

        .home-about {
                background-image: url(../img/who-we-are.jpg);
                background-repeat: no-repeat;
                padding-bottom: 10em;
        }

        .home-about-textbox {
                width: 50%;
                padding: 7em;
                outline-offset: -3.75em;
                margin-left: -2.5%;
                top: -5em;
                text-align: left;
                box-shadow: 0 0 3em 0 rgba( 0, 0, 0, 0.5);
        }

        .home-about-textbox h1 {
                top: .75em;
                transform: translateX(0);
                left: 5rem;
        }
}

/* portfolio */

.portfolio {
        margin: 3em 0 0;
}

.port-item {
        position: relative;
        margin: 0;
}

.port-item img {
        display: block;
}

.port-desc {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0em;
        right: 0em;
        color: #fff;
        background: rgba(0, 0, 0, .6);
        padding: 1em;
        padding-bottom: 2em;
        transition: all .3s;
}

.port-desc p {
        margin: 1em;
}

@media (min-width: 37rem) {
        .port-item {
                width: 50%;
                float: left;
        }
}

@media (min-width: 60rem) {
        .port-item {
                width: 33.333334%;
                overflow: hidden;
        }

        .port-desc {
                transform: translateY(150%);
        }

        .port-item:hover .port-desc {
                transform: translateY(0%);
        }
}

/* CTA */

.cta {
        background-color: #00ff6c;
        padding: 5em 0;
}

/* Footer */

footer {
        background-color: #232323;
        color: #fff;
        text-align: center;
        padding: 5em 0;
}
